# Arquivo para ignorar arquivos e pastas no Git

# Ambiente Virtual
.venv/
virtual/
env/
venv/

# Arquivos de ambiente
.env
*.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
